body {
  font-family: 'Helvetica Neue'; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 100px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #000; }

h1 {
  font-size: 28px; }

a.muted-link {
  border-bottom: 1px dotted #666;
  color: #666; }

a.muted-link:hover, a.muted-link:active {
  border-bottom: 1px solid #999;
  color: #999;
  text-decoration: none; }

.meta {
  margin-top: 2em;
  font-family: Georgia, serif; }

.input-group-btn {
  color: #e7e7e7;
  border-color: #e7e7e7; }

.btn-default {
  border-color: #e7e7e7; }

.search {
  color: #999; }

.btn, .form-control {
  border-radius: 0px; }

.transparent {
  border-color: transparent;
  margin: 0.8em 0; }

.form-control {
  border-color: #e7e7e7; }

.navbar-default {
  background-color: #fff; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent; }

.navbar {
  margin-bottom: 40px; }

.artwork-title {
  font-size: 1.5em;
  font-family: 'Helvetica Neue';
  /*text-transform: uppercase;  */ }

.artist-name {
  margin-bottom: 2em;
  font-size: 1.2em;
  color: #333 !important;
  margin-top: 0px;
  font-family: 'Helvetica Neue';
  font-weight: normal; }

.person-attributes {
  border-left: 1px solid; }

.tumblr_posts {
  background-color: #eeeeee; }

.tumblr_post {
  float: left;
  width: 290px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

.tumblr_text {
  padding: 20px; }
  .tumblr_text img {
    height: 250px;
    width: 250px; }
