body {
  font-family: 'Helvetica Neue'; }

.navbar {
  margin-bottom: 80px !important; }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

h1 {
  font-size: 2.1em;
  font-family: 'Helvetica Neue';
  font-weight: 300; }

p {
  color: #444; }


footer {
  background-color: #333;
  padding: 40px 0;
  margin-top: 80px; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #333333; }

/*.row {
  margin-top: 5px;
  margin-bottom: 5px;
}*/
a {
  color: #666; }

a.muted-link {
  border-bottom: 1px dotted #666;
  color: #666; }

a.muted-link:hover, a.muted-link:active {
  border-bottom: 1px solid #999;
  color: #999;
  text-decoration: none; }

.meta {
  margin-top: 2em;
  font-family: Georgia, serif; }

.input-group-btn {
  color: #e7e7e7;
  border-color: #e7e7e7; }

.btn-default {
  border-color: #e7e7e7; }

.search {
  color: #999; }

.btn, .form-control {
  border-radius: 0px; }

.transparent {
  border-color: transparent;
  margin: 0.8em 0; }

.form-control {
  border-color: #e7e7e7; }

section {
  margin-bottom: 80px; }

.container-full {
  margin: 0 auto;
  width: 100%; }

#copyright {
  background: #222;
  padding: 20px 0;
  font-size: 12px; }

#mc_embed_signup form {
  padding: 10px 0 !important; }

h2 {
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: none;
  color: #444; }

.nav-tabs > li > a {
  border-radius: 0; }

#details p {
  margin-bottom: 0 !important; }

.index .hero-container {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #c9def5; }

.explore-container {
  margin: 0;
  padding: 0;
  height: 480px; }

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('http://placehold.it/2850x1930/C9DEF5/C9DEF5'); }

.explore {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 200px; }

.about-container {
  background-color: #ebeeed;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px; }

.about-header {
  margin-bottom: 60px; }


.featured {
  float: left;
  margin: 10px; }

.featured-img {
  max-width: 20em;
  max-height: 20em; }

.navbar-default {
  background-color: #fff; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent; }

.navbar {
  margin-bottom: 80px; }

.artwork-title {
  font-size: 2em;
  font-family: 'Helvetica Neue';
  font-weight: 300; }

.artist-name {
  margin-bottom: 2em;
  font-size: 1.2em;
  color: #333 !important;
  margin-top: 0px;
  font-family: 'Helvetica Neue';
  font-weight: normal; }

.extra-information {
  margin-top: 2em; }

.tab-content {
  margin-top: 1.2em; }

.person-attributes {
  border-left: 1px solid; }

.relationship img {
  max-width: 10em;
  max-height: 10em; }
.relationship p {
  margin: 0; }

.tumblr_posts {
  background-color: #eeeeee; }

.tumblr_post {
  float: left;
  width: 290px;
  margin-right: 20px;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1); }

.tumblr_text {
  padding: 20px; }
  .tumblr_text img {
    height: 250px;
    width: 250px; }

.image-carousel {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 80%; }

.image-carousel-button {
  display: none;
  position: absolute;
  font-size: 0;
  border: 0;
  outline: 0;
  background: transparent;
  z-index: 100; }
  .image-carousel-button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased; }

.image-carousel-prev {
  top: 50%;
  left: 10%; }
  .image-carousel-prev:before {
    content: "\2190"; }

.image-carousel-next {
  top: 50%;
  right: 10%; }
  .image-carousel-next:before {
    content: "\2192"; }

img {
  display: none;
  margin-left: auto;
  margin-right: auto; }
